</div>
<font color= "green"><h1>Sign In! </h1></font>
 <%= form_tag(signin_path, method: "post") do %>
  <input type="text" name="Username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <br>
  <%= submit_tag "Sign In" %>
<% end %>