<h4><%=@user.name%>'s budget</h4>
<strong>Budget: $<%=@user.budget%></strong>
<br><% if @user.friends.size ==0%>
    You need to add friends!
<%else%>
    Put a small table of people who still need gifts?
<%end%><br>
<%= link_to "Add a Friend", new_user_friend_path(@user.id)%>

